body
{
    height: 100%;
    width: 1440px;
}

.main
{
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 15%;
    margin-right: 15%;
}

.box1
{
    background-color: hsl(31, 77%, 52%);
}

.box2
{
    background-color: hsl(184, 100%, 22%);
}

.box3
{
    background-color: hsl(179, 100%, 13%);
}

.pic
{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
}

h1
{
    color: hsl(0, 0%, 95%);
    font-size: 40px;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0%;
    margin-bottom: 0%;
}

p
{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    margin-left: 15%;
    margin-right: 22%;
    margin-top: 15%;
    margin-bottom: 15%;
}

.button_style
{
    background-color: hsl(0, 0%, 95%);
    height: 8%;
    width: 42%;
    border-radius: 25px;
    border: none;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
}